html,
body {
	min-height: 100vh;
	overflow-x: hidden;
}
body {
	background: #fdfbfb;
	background: -moz-linear-gradient(left, #fdfbfb 0%, #ebedee 100%);
	background: -webkit-linear-gradient(left, #fdfbfb 0%,#ebedee 100%);
	background: linear-gradient(to right, #fdfbfb 0%,#ebedee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbfb', endColorstr='#ebedee',GradientType=1 );
}
.background {
	background-image: url(../img/confetti-bg.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
}
.background + .content-block{
	margin-top: 0;
}
ul {
	margin: 0;
	padding: 0;
	li { 
		list-style-type: none;
		margin: 0;
	}
}
.content-block:first-child {
	margin-top: 0;
}
.content-block {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 100%;
}
h1 {
	@include responsive-font(9vw, 36px, 70px);
	font-family: $font-stack-header; 
	font-weight: 900;
	color: #111;
	margin: 0;
	letter-spacing: 2px;
} 
h2 {
	font-family: $font-stack-header; 
	@include responsive-font(5vw, 26px, 44px);
	font-weight: 600;
	color: #111;
	margin: 0 0 20px;
}
h3 {
	font-family: $font-stack-header; 
	font-weight: 600;
	@include responsive-font(5vw, 18px, 34px);
	color: #111;
	margin: 0;
}
h4 {
	font-family: $font-stack-header; 
	font-weight: 400;
	@include responsive-font(5vw, 16px, 22px);
	color: #111;
	margin: 0;
}
p, li, a {
	font-weight: 300;
	font-family: $font-stack-header;
	color: #222222;
	@include responsive-font(4vw, 14px, 20px);
	line-height: 28px;
	margin: 0 0 20px 0;

	&.caption {
		@include responsive-font(3vw, 8px, 16px);
		color: #111;
		letter-spacing: initial;
		font-weight: 900;
	}
}
li {
	font-size: 18px
}
a {
	color: #111;
	text-decoration: none;
	border-bottom: 2px solid #111;
    padding: 0 0 1px;
    display: inline-block;
}
a:hover {
	color: #83BDFF;
}
.logo{
	max-width: 135px;
}
.btn-big {
	font-family: $font-stack-header;
	border: 3px solid #111;
	background: transparent;
	color: #fff;
	border-radius: 5px;
	font-size: 28px;
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	margin-top: 40px;
	display: inline-block
}
.navigation {
	padding-top: 30px;
	padding-bottom: 30px;
	position: absolute;
	width: 100%;
	nav {

		ul {
			margin: 0;

			li {
				float: left;
				list-style-type: none;

				&:not(:last-child) {
					padding-right: 40px;
				}

				a {
					text-decoration: none;
				}
			}
		}
	}	
}
.hero {
	max-height: 70vh;
	min-height: 70vh;

	.full-height {
		max-height: 70vh;
	}
    h1 {
    	color: #111;
    	margin-bottom: 50px;
    }
}
.slides {
	margin-top: 10px;
}
.slide {
	margin-bottom: 10px;
	.color-overlay {
		left: 1%;
    	width: 98.2%;
    	position: absolute;
		top: 0;
		height: 100%;
		opacity: .8; 
		@include respond-to(screen-md) {
			left: 2%;
	    	width: 96.2%; 
		}
		
	}
	.slider-content {
		padding: 3% 0 40px 20px;
		position: absolute;

		h2 {
			
			margin-bottom: 0;
		}
		h3 {
			
			margin-bottom: 0;
		}
		p {
			
			font-weight: 300;
		}
		a {
			
			font-weight: 300;
			text-decoration: none;
			border: 1px solid #fff;
			padding: 5px 10px;
		}
		a {
			
			font-weight: 300;
			text-decoration: none;
			border: 1px solid #fff;
			padding: 5px 10px;
			transition: top linear 8s;
		}
		a {
			
			font-weight: 300;
			text-decoration: none;
			border: 1px solid #fff;
			padding: 5px 10px;
			transition: background .25s ease-in-out;
			transition: color .25s ease-in-out;
		}
		a:hover {
			background: #fff;
			color: #83BDFF;
	    }
		
	}
	img {
		
	}
}

.showoff {
	.row {
		margin-bottom: 80px;
	}
	img {
		max-width: 556px;
		-webkit-box-shadow: -2px 1px 45px -5px rgba(0,0,0,0.83);
		-moz-box-shadow: -2px 1px 45px -5px rgba(0,0,0,0.83);
		box-shadow: -2px 1px 45px -5px rgba(0,0,0,0.83);
	}
	.right {
		img {
			float: right;
		}
		div:first-child {
			text-align: right;
		}
	}
}

.work {
	a {
		transition: background .25s ease-in-out;
		transition: color .25s ease-in-out;
	}
	a:hover {
		color: #83BDFF;
    }
   
	.go-back {
		padding-top: 40px;

    	@include respond-to(screen-md) {
    		padding-top: 80px;
    	}
	}
    height: 100%;

	.work-hero {

		@include respond-to-minmax(0px, 769px) {
			margin-bottom: 40px;
			.mobile-screen {
			    img {
			    	top: 0 !important;
			    	transition: top linear .1s !important;
			    }
			    margin-bottom: 40px;
			}

			.desktop-screen {
			    img {
			    	top: 0 !important;
			    	transition: top linear .1s !important;
			    }
			}
		}

		@include respond-to(screen-md) {
			margin-top: 80px;
			margin-bottom: 80px;
			.scroll-top-mobile,
			.scroll-top-desktop {
				opacity: 0;
				width: 100%;
				height: 50%;
				position: absolute;
				top: 0;
			}
			.scroll-bottom-mobile,
			.scroll-bottom-desktop {
				opacity: 0;
				width: 100%;
				height: 50%;
				position: absolute;
				bottom: 0;
			}    
		}

		.mobile-device {
			display: none;
		}

	    .mobile-device {
    	    margin: 0 auto;
	    	display: inline-block;
			max-width: 137px;
			position: relative;
			display: none;
			
			@include respond-to(screen-sm) {
					
			    margin: 0;
			}

			@include respond-to(screen-md) {
				display: inline-block;
				position: absolute;
			    bottom: 0;
			}

			

			.mobile-screen {
				position: absolute;
		        width: 91%;
			    height: 78%;
			    overflow: hidden;
			    top: 11%;
			    left: 4%;
			    border-bottom: 2px solid #fff;
			    border-top: 1px solid #fff;

			    img {
			    	position: absolute;
			    	top: 0;
			    	transition: top linear 8s;
			    }

			}
		}

		.desktop-device {
			display: none;

			@include respond-to(screen-sm) {
				display: inline-block;
				position: relative;
			}

		    @include respond-to(screen-md) {	    	
		    	max-width: 658px;
		    	position: relative;
    			left: 25%;
			}

			.desktop-screen {
			    position: absolute;
			    width: 96%;
			    height: 82%;
			    overflow: hidden;
			    top: 11%;
			    left: 2%;
			    border-bottom: 7px solid #fff;

			    img {
			    	position: absolute;
			    	top: 0;
			    	transition: top linear 8s;
			    }

			   
			}
		}
	}
}
.ursa {
	a:hover {
		color: #FBB3B4;
	}
	.mobile-screen {
		border: 2px solid #fff;
	}
	.desktop-screen {
		border: 7px solid #fff;
	}
}

.ursa-slide {
	.color-overlay {
		background-color: #ebedee;
	}
}
.resolve-slide {
	.color-overlay {
		background-color: #ebedee;
	}
}